<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <title>Tech Blog Shorts</title>
  </head>
  <body>
    <header>
      <div
        class="container d-flex flex-column flex-md-row align-items-center pb-3 mb-4"
      >
        <h1 class="">
          <a href="/">Tech Blog Shorts</a>
        </h1>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="" href="/">Home</a>
          <a class="" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
            <a href=""><button id="logout">logout</button></a>
          {{else}}
            <a class="" href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main class="container">
      {{{body}}}
    </main>
    <footer>
      <div class="social-links">

      </div>
      <p>designed and developed by: Jon Waaler</p>
    </footer>

    <script src="/javascript/util.js"></script>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{else}}
      <script src="/javascript/auth.js"></script>
    {{/if}}
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  </body>
</html>